nodered/current_flow.json
[
    {
        "id": "ea7a68d599060c4b",
        "type": "tab",
        "label": "complete_inferenceonnx",
        "disabled": false,
        "info": "Realtime dashboard + Supabase persistence + alert routing"
    },
    {
        "id": "039f9353c19d3939",
        "type": "mqtt in",
        "z": "ea7a68d599060c4b",
        "name": "EL MQTT input",
        "topic": "pv/inspection/severity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "beb6b50d01815bcd"
            ]
        ]
    },
    {
        "id": "beb6b50d01815bcd",
        "type": "json",
        "z": "ea7a68d599060c4b",
        "name": "Parse payload",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "f2bed31f8aab29c7",
                "620b086b8316222e",
                "7e53ccc7bc05cbe6",
                "0758814a5f886fb2",
                "93035d273cc11cb4",
                "48d49283846746ed",
                "1d00d034f7b6dde0",
                "01c1ec5fc4d34421"
            ]
        ]
    },
    {
        "id": "620b086b8316222e",
        "type": "ui_template",
        "z": "ea7a68d599060c4b",
        "group": "dbe4f94afd3a8245",
        "name": "Dashboard banner + theme",
        "order": 1,
        "width": "24",
        "height": "4",
        "format": "<style>\n.nr-dashboard-theme { background: linear-gradient(180deg, #f4f7fb 0%, #e7edf5 100%); }\n.nr-dashboard-theme md-content { background: transparent; }\n.nr-dashboard-theme md-card { border-radius: 18px; box-shadow: 0 10px 30px rgba(15, 23, 42, 0.10); border: 1px solid rgba(148, 163, 184, 0.18); overflow: hidden; }\n.nr-dashboard-theme .nr-dashboard-cardtitle { font-weight: 700; letter-spacing: 0.04em; text-transform: uppercase; color: #334155; }\n.nr-dashboard-theme .nr-dashboard-cardcontainer { padding-top: 4px; padding-bottom: 4px; }\n.dashboard-hero { padding: 18px 22px; border-radius: 20px; background: linear-gradient(135deg, #10253f 0%, #1f3b63 55%, #3563a8 100%); color: #ffffff; }\n.dashboard-hero__eyebrow { font-size: 12px; font-weight: 700; letter-spacing: 0.14em; text-transform: uppercase; opacity: 0.82; }\n.dashboard-hero h1 { margin: 8px 0 0; font-size: 26px; line-height: 1.1; }\n.dashboard-hero p { margin: 8px 0 0; max-width: 720px; font-size: 14px; line-height: 1.5; opacity: 0.88; }\n.dashboard-hero__chips { display: flex; flex-wrap: wrap; gap: 10px; margin-top: 14px; }\n.dashboard-hero__chips span { display: inline-flex; align-items: center; padding: 6px 10px; border-radius: 999px; background: rgba(255, 255, 255, 0.14); border: 1px solid rgba(255, 255, 255, 0.18); font-size: 12px; font-weight: 600; letter-spacing: 0.02em; }\n</style>\n<div class='dashboard-hero'>\n  <div class='dashboard-hero__eyebrow'>Realtime inspection dashboard</div>\n  <h1>CDER Pi Camera Service</h1>\n  <p>MQTT intake, Supabase persistence, and alert routing in one view. Use this tab to monitor severity, trace the current pad, and confirm alert state at a glance.</p>\n  <div class='dashboard-hero__chips'>\n    <span>MQTT ingest</span>\n    <span>Severity trend</span>\n    <span>Supabase write</span>\n    <span>Open alerts</span>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f2bed31f8aab29c7",
        "type": "change",
        "z": "ea7a68d599060c4b",
        "name": "Extract severity_score",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.severity_score",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "109dfe6310c2167f",
                "de2748c63c61d311"
            ]
        ]
    },
    {
        "id": "109dfe6310c2167f",
        "type": "ui_gauge",
        "z": "ea7a68d599060c4b",
        "name": "Severity Gauge",
        "group": "dbe4f94afd3a8245",
        "order": 2,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "Defect Severity",
        "label": "score",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.35",
        "seg2": "0.65",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "de2748c63c61d311",
        "type": "ui_chart",
        "z": "ea7a68d599060c4b",
        "name": "Severity Trend",
        "group": "dbe4f94afd3a8245",
        "order": 3,
        "width": 13,
        "height": 6,
        "label": "Severity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "MM-dd HH:mm",
        "interpolate": "linear",
        "nodata": "No data yet",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7e53ccc7bc05cbe6",
        "type": "ui_text",
        "z": "ea7a68d599060c4b",
        "group": "dbe4f94afd3a8245",
        "order": 4,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "Panel ID",
        "format": "{{msg.payload.panel_id}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#111111",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "0758814a5f886fb2",
        "type": "ui_text",
        "z": "ea7a68d599060c4b",
        "group": "dbe4f94afd3a8245",
        "order": 5,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "Pad ID",
        "format": "{{msg.payload.pad_id}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#111111",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "93035d273cc11cb4",
        "type": "ui_text",
        "z": "ea7a68d599060c4b",
        "group": "dbe4f94afd3a8245",
        "order": 7,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "Model Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#111111",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "48d49283846746ed",
        "type": "ui_text",
        "z": "ea7a68d599060c4b",
        "group": "dbe4f94afd3a8245",
        "order": 6,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "Robot",
        "format": "{{msg.payload.robot_id}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#111111",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "1d00d034f7b6dde0",
        "type": "ui_text",
        "z": "ea7a68d599060c4b",
        "group": "dbe4f94afd3a8245",
        "order": 8,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "Model Version",
        "format": "{{msg.payload.model_version}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#111111",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "01c1ec5fc4d34421",
        "type": "function",
        "z": "ea7a68d599060c4b",
        "name": "Validate + prepare Supabase insert",
        "func": "const p = msg.payload || {};\n\nconst score = Number(p.severity_score);\nif (!Number.isFinite(score)) {\n    node.warn('Dropped message: severity_score is missing/invalid');\n    return null;\n}\nif (!p.pad_id) {\n    node.warn('Dropped message: pad_id is required');\n    return null;\n}\n\nconst inspection = {\n    captured_at: new Date().toISOString(),\n    robot_id: p.robot_id || 'robot_01',\n    panel_id: p.panel_id || 'panel_A',\n    pad_id: p.pad_id,\n    severity_score: score,\n    status: p.status || (score >= 0.70 ? 'CRITICAL' : 'OK'),\n    image_path: p.image_path || null,\n    model_version: p.model_version || 'onnx_v1',\n    raw_payload: p\n};\n\nconst supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) {\n    node.error('SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY not configured', msg);\n    return null;\n}\n\nmsg.meta = { panel_id: inspection.panel_id, pad_id: inspection.pad_id };\nmsg.url = supabaseUrl + '/rest/v1/inspections';\nmsg.method = 'POST';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json',\n    Prefer: 'return=representation'\n};\nmsg.payload = [inspection];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "1009c65837d37cdd"
            ]
        ]
    },
    {
        "id": "1009c65837d37cdd",
        "type": "http request",
        "z": "ea7a68d599060c4b",
        "name": "Supabase insert inspection",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 900,
        "y": 300,
        "wires": [
            [
                "89a50f12f0c2aea2"
            ]
        ]
    },
    {
        "id": "89a50f12f0c2aea2",
        "type": "function",
        "z": "ea7a68d599060c4b",
        "name": "Prepare evaluate_pad_alert RPC",
        "func": "const supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\n\nmsg.url = supabaseUrl + '/rest/v1/rpc/evaluate_pad_alert';\nmsg.method = 'POST';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    p_panel_id: msg.meta.panel_id,\n    p_pad_id: msg.meta.pad_id\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 300,
        "wires": [
            [
                "ef724e91b5e35fd2"
            ]
        ]
    },
    {
        "id": "ef724e91b5e35fd2",
        "type": "http request",
        "z": "ea7a68d599060c4b",
        "name": "Supabase evaluate alert",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1450,
        "y": 300,
        "wires": [
            [
                "6f4f54f2e598f9fa"
            ]
        ]
    },
    {
        "id": "6f4f54f2e598f9fa",
        "type": "function",
        "z": "ea7a68d599060c4b",
        "name": "Parse alert result",
        "func": "const r = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\nif (!r || !r.state) {\n    node.warn('evaluate_pad_alert returned empty result');\n    return null;\n}\nmsg.alert = r;\nmsg.payload = r.state + ' - ' + r.reason + ' (score=' + r.current_score + ')';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 300,
        "wires": [
            [
                "4e440cff62dad2e6",
                "524bf6e148ca6771",
                "b71133dd68b54ae9"
            ]
        ]
    },
    {
        "id": "4e440cff62dad2e6",
        "type": "ui_text",
        "z": "ea7a68d599060c4b",
        "group": "dbe4f94afd3a8245",
        "order": 10,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "DB Alert",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#c0392b",
        "x": 1870,
        "y": 260,
        "wires": []
    },
    {
        "id": "524bf6e148ca6771",
        "type": "switch",
        "z": "ea7a68d599060c4b",
        "name": "OPEN?",
        "property": "alert.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1860,
        "y": 320,
        "wires": [
            [
                "4a76d419b49db216"
            ],
            [
                "ebf53c381d613810"
            ]
        ]
    },
    {
        "id": "4a76d419b49db216",
        "type": "debug",
        "z": "ea7a68d599060c4b",
        "name": "OPEN alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "alert",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 300,
        "wires": []
    },
    {
        "id": "ebf53c381d613810",
        "type": "debug",
        "z": "ea7a68d599060c4b",
        "name": "Non-OPEN alert",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "alert",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 340,
        "wires": []
    },
    {
        "id": "b71133dd68b54ae9",
        "type": "debug",
        "z": "ea7a68d599060c4b",
        "name": "Alert eval raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 380,
        "wires": []
    },
    {
        "id": "4976af2983d063f0",
        "type": "inject",
        "z": "ea7a68d599060c4b",
        "name": "Poll open alerts (30s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "e9dc9a15611b964d"
            ]
        ]
    },
    {
        "id": "e9dc9a15611b964d",
        "type": "function",
        "z": "ea7a68d599060c4b",
        "name": "Prepare open alert count query",
        "func": "const supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) {\n    return null;\n}\nmsg.url = supabaseUrl + '/rest/v1/vw_open_alerts?select=id';\nmsg.method = 'GET';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "90ed842612631115"
            ]
        ]
    },
    {
        "id": "90ed842612631115",
        "type": "http request",
        "z": "ea7a68d599060c4b",
        "name": "Supabase get open alerts",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 690,
        "y": 620,
        "wires": [
            [
                "d103d5afbee1a84d"
            ]
        ]
    },
    {
        "id": "d103d5afbee1a84d",
        "type": "function",
        "z": "ea7a68d599060c4b",
        "name": "Format open alert count",
        "func": "let count = 0;\nif (Array.isArray(msg.payload)) {\n    count = msg.payload.length;\n} else if (msg.payload && Array.isArray(msg.payload.value)) {\n    count = msg.payload.value.length;\n}\nmsg.payload = String(count);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 620,
        "wires": [
            [
                "34263772cb88cc75"
            ]
        ]
    },
    {
        "id": "34263772cb88cc75",
        "type": "ui_text",
        "z": "ea7a68d599060c4b",
        "group": "dbe4f94afd3a8245",
        "order": 9,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "Open Alerts (DB)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#b03a2e",
        "x": 1150,
        "y": 620,
        "wires": []
    },
    {
        "id": "aae8821cecee2470",
        "type": "catch",
        "z": "ea7a68d599060c4b",
        "name": "Catch flow errors",
        "scope": [
            "01c1ec5fc4d34421",
            "1009c65837d37cdd",
            "89a50f12f0c2aea2",
            "ef724e91b5e35fd2",
            "6f4f54f2e598f9fa",
            "90ed842612631115"
        ],
        "uncaught": false,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "23d94a1fb8d9c733"
            ]
        ]
    },
    {
        "id": "23d94a1fb8d9c733",
        "type": "debug",
        "z": "ea7a68d599060c4b",
        "name": "Flow errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "error.message",
        "statusType": "msg",
        "x": 390,
        "y": 700,
        "wires": []
    },
    {
        "id": "broker_mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dbe4f94afd3a8245",
        "type": "ui_group",
        "z": "ea7a68d599060c4b",
        "name": "Group",
        "tab": "45c21fa60fe4e205",
        "order": null,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45c21fa60fe4e205",
        "type": "ui_tab",
        "z": "ea7a68d599060c4b",
        "name": "complete_inferenceonnx",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]