nodered/full_cder_supabase_dashboard_flow.json
[
    {
        "id": "14a6af89eabdc1b0",
        "type": "tab",
        "label": "complete_inferenceonnx",
        "disabled": false,
        "info": "Realtime dashboard + Supabase persistence + alert routing"
    },
    {
        "id": "f9cc137510b7659d",
        "type": "mqtt in",
        "z": "14a6af89eabdc1b0",
        "name": "EL MQTT input",
        "topic": "pv/inspection/severity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 460,
        "wires": [
            [
                "0be5960ad01e37a9"
            ]
        ]
    },
    {
        "id": "0be5960ad01e37a9",
        "type": "json",
        "z": "14a6af89eabdc1b0",
        "name": "Parse payload",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 380,
        "y": 540,
        "wires": [
            [
                "cb442af731bc52fb"
            ]
        ]
    },
    {
        "id": "b4ad7adff2d1fe5c",
        "type": "ui_template",
        "z": "14a6af89eabdc1b0",
        "group": "383ee8460fc736dd",
        "name": "Dashboard banner + theme",
        "order": 1,
        "width": "24",
        "height": "4",
        "format": "<style>\n.nr-dashboard-theme { background: linear-gradient(180deg, #eef3f8 0%, #dde7f1 100%); }\n.nr-dashboard-theme md-content { background: transparent; max-width: none !important; }\n.nr-dashboard-theme md-card { border-radius: 18px; box-shadow: 0 12px 34px rgba(15, 23, 42, 0.10); border: 1px solid rgba(148, 163, 184, 0.18); overflow: hidden; }\n.nr-dashboard-theme .nr-dashboard-cardtitle { font-weight: 700; letter-spacing: 0.04em; text-transform: uppercase; color: #334155; }\n.nr-dashboard-theme .nr-dashboard-cardcontainer { padding-top: 8px; padding-bottom: 8px; }\n.cder-hero { padding: 22px 24px; border-radius: 22px; background: linear-gradient(135deg, #0f1f33 0%, #19304f 50%, #325d96 100%); color: #fff; min-height: 140px; display: flex; flex-direction: column; justify-content: center; }\n.cder-hero__eyebrow { font-size: 12px; font-weight: 700; letter-spacing: 0.16em; text-transform: uppercase; opacity: 0.78; }\n.cder-hero h1 { margin: 8px 0 0; font-size: 28px; line-height: 1.05; }\n.cder-hero p { margin: 10px 0 0; max-width: 860px; font-size: 14px; line-height: 1.55; opacity: 0.9; }\n.cder-hero__chips { display: flex; flex-wrap: wrap; gap: 10px; margin-top: 16px; }\n.cder-hero__chips span { display: inline-flex; align-items: center; padding: 7px 11px; border-radius: 999px; background: rgba(255, 255, 255, 0.14); border: 1px solid rgba(255, 255, 255, 0.16); font-size: 12px; font-weight: 600; letter-spacing: 0.02em; }\n.cder-summary-grid { display: grid; grid-template-columns: repeat(6, minmax(0, 1fr)); gap: 12px; }\n.cder-kpi-card { border-radius: 18px; padding: 16px 16px 14px; min-height: 100px; background: linear-gradient(180deg, #ffffff 0%, #f8fbff 100%); border: 1px solid rgba(148, 163, 184, 0.2); box-shadow: inset 0 1px 0 rgba(255,255,255,0.8); }\n.cder-kpi-card--accent { background: linear-gradient(135deg, #10253f 0%, #1b3353 100%); color: #fff; }\n.cder-kpi-card--soft { background: linear-gradient(135deg, #eff6ff 0%, #e8f1fb 100%); }\n.cder-kpi-card--success { background: linear-gradient(135deg, #effaf2 0%, #e3f4ea 100%); }\n.cder-kpi-card--warning { background: linear-gradient(135deg, #fff8e7 0%, #fdf0ce 100%); }\n.cder-kpi-label { font-size: 11px; font-weight: 700; letter-spacing: 0.14em; text-transform: uppercase; opacity: 0.72; }\n.cder-kpi-value { margin-top: 8px; font-size: 22px; font-weight: 800; line-height: 1.1; word-break: break-word; }\n.cder-kpi-hint { margin-top: 6px; font-size: 12px; line-height: 1.35; opacity: 0.78; }\n.cder-alert-card { border-radius: 18px; padding: 18px 18px 16px; min-height: 92px; background: linear-gradient(135deg, #fff5f5 0%, #ffe7e7 100%); border: 1px solid rgba(220, 38, 38, 0.18); }\n.cder-alert-card.is-open { background: linear-gradient(135deg, #4c1118 0%, #8d1f2a 100%); color: #fff; }\n.cder-alert-card__label { font-size: 11px; font-weight: 700; letter-spacing: 0.14em; text-transform: uppercase; opacity: 0.8; }\n.cder-alert-card__value { margin-top: 8px; font-size: 18px; font-weight: 700; line-height: 1.35; }\n.cder-open-count { border-radius: 18px; padding: 18px; min-height: 92px; background: linear-gradient(135deg, #eff6ff 0%, #dfeeff 100%); border: 1px solid rgba(37, 99, 235, 0.16); }\n.cder-open-count__label { font-size: 11px; font-weight: 700; letter-spacing: 0.14em; text-transform: uppercase; opacity: 0.72; }\n.cder-open-count__value { margin-top: 8px; font-size: 30px; font-weight: 800; line-height: 1; }\n.cder-open-count__hint { margin-top: 6px; font-size: 12px; line-height: 1.35; opacity: 0.76; }\n</style>\n<div class='cder-hero'>\n  <div class='cder-hero__eyebrow'>Realtime inspection dashboard</div>\n  <h1>CDER Pi Camera Service</h1>\n  <p>MQTT intake, Supabase persistence, and alert routing in one full-width workspace. The top cards summarize the current inspection, while the chart and alert panels keep the operational state visible at a glance.</p>\n  <div class='cder-hero__chips'>\n    <span>MQTT ingest</span>\n    <span>Severity trend</span>\n    <span>Supabase write</span>\n    <span>Open alerts</span>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "65e24a04a1b077a7",
        "type": "change",
        "z": "14a6af89eabdc1b0",
        "name": "Extract severity_score",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.severity_score",
                "tot": "msg"
            }
        ],
        "x": 1620,
        "y": 720,
        "wires": [
            [
                "7ce40efed6c53410",
                "09f5463386b2c9f9"
            ]
        ]
    },
    {
        "id": "7ce40efed6c53410",
        "type": "ui_gauge",
        "z": "14a6af89eabdc1b0",
        "name": "Severity Gauge",
        "group": "383ee8460fc736dd",
        "order": 6,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "Defect Severity",
        "label": "score",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.35",
        "seg2": "0.65",
        "diff": false,
        "className": "",
        "x": 1900,
        "y": 740,
        "wires": []
    },
    {
        "id": "09f5463386b2c9f9",
        "type": "ui_chart",
        "z": "14a6af89eabdc1b0",
        "name": "Severity Trend",
        "group": "383ee8460fc736dd",
        "order": 7,
        "width": 13,
        "height": 6,
        "label": "Severity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "MM-dd HH:mm",
        "interpolate": "linear",
        "nodata": "No data yet",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1900,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "878b47c1c4d81f52",
        "type": "ui_template",
        "z": "14a6af89eabdc1b0",
        "group": "383ee8460fc736dd",
        "name": "Inspection summary cards",
        "order": 5,
        "width": "24",
        "height": "4",
        "format": "<div class='cder-summary-grid'>\n  <div class='cder-kpi-card cder-kpi-card--accent'>\n    <div class='cder-kpi-label'>Panel</div>\n    <div class='cder-kpi-value'>{{msg.payload.panel_id || '—'}}</div>\n    <div class='cder-kpi-hint'>Current inspection panel</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--soft'>\n    <div class='cder-kpi-label'>Pad</div>\n    <div class='cder-kpi-value'>{{msg.payload.pad_id || '—'}}</div>\n    <div class='cder-kpi-hint'>Target pad identifier</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--success'>\n    <div class='cder-kpi-label'>Model Status</div>\n    <div class='cder-kpi-value'>{{msg.payload.status || '—'}}</div>\n    <div class='cder-kpi-hint'>Classification result</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--soft'>\n    <div class='cder-kpi-label'>Robot</div>\n    <div class='cder-kpi-value'>{{msg.payload.robot_id || '—'}}</div>\n    <div class='cder-kpi-hint'>Source robot identity</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--warning'>\n    <div class='cder-kpi-label'>Model Version</div>\n    <div class='cder-kpi-value'>{{msg.payload.model_version || '—'}}</div>\n    <div class='cder-kpi-hint'>Current deployed model</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--accent'>\n    <div class='cder-kpi-label'>Severity</div>\n    <div class='cder-kpi-value'>{{msg.payload.severity_score | number: 2}}</div>\n    <div class='cder-kpi-hint'>Higher means more severe</div>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "72939bd8be0b44b7",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Validate + prepare Supabase insert",
        "func": "const p = msg.payload || {};\n\nconst score = Number(p.severity_score);\nif (!Number.isFinite(score)) {\n    node.warn('Dropped message: severity_score is missing/invalid');\n    return null;\n}\nif (!p.pad_id) {\n    node.warn('Dropped message: pad_id is required');\n    return null;\n}\n\nconst inspection = {\n    captured_at: new Date().toISOString(),\n    robot_id: p.robot_id || 'robot_01',\n    panel_id: p.panel_id || 'panel_A',\n    pad_id: p.pad_id,\n    severity_score: score,\n    status: p.status || (score >= 0.70 ? 'CRITICAL' : 'OK'),\n    image_path: p.image_path || null,\n    model_version: p.model_version || 'onnx_v1',\n    raw_payload: p\n};\n\nconst supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) {\n    node.error('SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY not configured', msg);\n    return null;\n}\n\nmsg.meta = { panel_id: inspection.panel_id, pad_id: inspection.pad_id };\nmsg.url = supabaseUrl + '/rest/v1/inspections';\nmsg.method = 'POST';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json',\n    Prefer: 'return=representation'\n};\nmsg.payload = [inspection];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 640,
        "wires": [
            [
                "4a8d64c3d0aa8b7c"
            ]
        ]
    },
    {
        "id": "4a8d64c3d0aa8b7c",
        "type": "http request",
        "z": "14a6af89eabdc1b0",
        "name": "Supabase insert inspection",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1340,
        "y": 600,
        "wires": [
            [
                "fb45c5a6a1a6fbcf"
            ]
        ]
    },
    {
        "id": "fb45c5a6a1a6fbcf",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Prepare evaluate_pad_alert RPC",
        "func": "const supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\n\nmsg.url = supabaseUrl + '/rest/v1/rpc/evaluate_pad_alert';\nmsg.method = 'POST';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    p_panel_id: msg.meta.panel_id,\n    p_pad_id: msg.meta.pad_id\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 600,
        "wires": [
            [
                "232ef109776aae17"
            ]
        ]
    },
    {
        "id": "232ef109776aae17",
        "type": "http request",
        "z": "14a6af89eabdc1b0",
        "name": "Supabase evaluate alert",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1910,
        "y": 600,
        "wires": [
            [
                "9f864b8139fe61cf"
            ]
        ]
    },
    {
        "id": "9f864b8139fe61cf",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Parse alert result",
        "func": "const r = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\nif (!r || !r.state) {\n    node.warn('evaluate_pad_alert returned empty result');\n    return null;\n}\nmsg.alert = r;\nmsg.payload = r.state + ' - ' + r.reason + ' (score=' + r.current_score + ')';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 600,
        "wires": [
            [
                "99bb872561940818",
                "cc32f43dcf568283",
                "422dce8a46f3478f"
            ]
        ]
    },
    {
        "id": "99bb872561940818",
        "type": "ui_template",
        "z": "14a6af89eabdc1b0",
        "group": "383ee8460fc736dd",
        "name": "DB Alert",
        "order": 8,
        "width": 6,
        "height": "3",
        "format": "<div class='cder-alert-card' ng-class=\"{'is-open': msg.alert && msg.alert.state === 'OPEN'}\">\n  <div class='cder-alert-card__label'>DB Alert</div>\n  <div class='cder-alert-card__value'>{{msg.payload}}</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1890,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cc32f43dcf568283",
        "type": "switch",
        "z": "14a6af89eabdc1b0",
        "name": "OPEN?",
        "property": "alert.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1860,
        "y": 380,
        "wires": [
            [
                "f9efa8676cedd1f1"
            ],
            [
                "d480271f7f665f88"
            ]
        ]
    },
    {
        "id": "f9efa8676cedd1f1",
        "type": "debug",
        "z": "14a6af89eabdc1b0",
        "name": "OPEN alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "alert",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2050,
        "y": 360,
        "wires": []
    },
    {
        "id": "d480271f7f665f88",
        "type": "debug",
        "z": "14a6af89eabdc1b0",
        "name": "Non-OPEN alert",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "alert",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2060,
        "y": 400,
        "wires": []
    },
    {
        "id": "422dce8a46f3478f",
        "type": "debug",
        "z": "14a6af89eabdc1b0",
        "name": "Alert eval raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 440,
        "wires": []
    },
    {
        "id": "e53656cc2643d252",
        "type": "inject",
        "z": "14a6af89eabdc1b0",
        "name": "Poll open alerts (30s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 860,
        "wires": [
            [
                "81565227f56f3e6c"
            ]
        ]
    },
    {
        "id": "81565227f56f3e6c",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Prepare open alert count query",
        "func": "const supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) {\n    return null;\n}\nmsg.url = supabaseUrl + '/rest/v1/vw_open_alerts?select=id';\nmsg.method = 'GET';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 860,
        "wires": [
            [
                "c6cd678b592dd294"
            ]
        ]
    },
    {
        "id": "c6cd678b592dd294",
        "type": "http request",
        "z": "14a6af89eabdc1b0",
        "name": "Supabase get open alerts",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 810,
        "y": 860,
        "wires": [
            [
                "6dcee0c5bff4e843"
            ]
        ]
    },
    {
        "id": "6dcee0c5bff4e843",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Format open alert count",
        "func": "let count = 0;\nif (Array.isArray(msg.payload)) {\n    count = msg.payload.length;\n} else if (msg.payload && Array.isArray(msg.payload.value)) {\n    count = msg.payload.value.length;\n}\nmsg.payload = String(count);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 860,
        "wires": [
            [
                "28fcda12e1b1aad8"
            ]
        ]
    },
    {
        "id": "28fcda12e1b1aad8",
        "type": "ui_template",
        "z": "14a6af89eabdc1b0",
        "group": "383ee8460fc736dd",
        "name": "",
        "order": 9,
        "width": 6,
        "height": "3",
        "format": "<div class='cder-open-count'>\n  <div class='cder-open-count__label'>Open Alerts (DB)</div>\n  <div class='cder-open-count__value'>{{msg.payload || '0'}}</div>\n  <div class='cder-open-count__hint'>Polled every 30 seconds</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "61f034ebff05ed4a",
        "type": "catch",
        "z": "14a6af89eabdc1b0",
        "name": "Catch flow errors",
        "scope": [
            "72939bd8be0b44b7",
            "4a8d64c3d0aa8b7c",
            "fb45c5a6a1a6fbcf",
            "232ef109776aae17",
            "9f864b8139fe61cf",
            "c6cd678b592dd294"
        ],
        "uncaught": false,
        "x": 290,
        "y": 920,
        "wires": [
            [
                "63754aeaef10b161"
            ]
        ]
    },
    {
        "id": "63754aeaef10b161",
        "type": "debug",
        "z": "14a6af89eabdc1b0",
        "name": "Flow errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "error.message",
        "statusType": "msg",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "0b5d2c73b98f9ad1",
        "type": "inject",
        "z": "14a6af89eabdc1b0",
        "name": "Init panel/pad selectors",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "253e5c5a8cedb67f"
            ]
        ]
    },
    {
        "id": "253e5c5a8cedb67f",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Build panel options (9)",
        "func": "const panelOptions = [];\nfor (let i = 1; i <= 9; i++) {\n  panelOptions.push({ [`Panel ${i}`]: `panel_${i}` });\n}\nconst selectedPanel = flow.get('selected_panel_id') || 'panel_1';\nflow.set('selected_panel_id', selectedPanel);\nconst modeOptions = [\n  { 'Live MQTT': 'live' },\n  { 'DB Filter': 'db' }\n];\nconst selectedMode = flow.get('selected_mode') || 'live';\nflow.set('selected_mode', selectedMode);\nconst toPanelDropdown = { options: panelOptions, payload: selectedPanel, topic: 'panel_id' };\nconst toPadBuilder = { payload: selectedPanel, topic: 'panel_id' };\nconst toModeDropdown = { options: modeOptions, payload: selectedMode, topic: 'mode' };\nreturn [toPanelDropdown, toPadBuilder, toModeDropdown];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "a95b93bd4c9a96d9"
            ],
            [
                "8385377291871808"
            ],
            [
                "6ed2e05e5e335bce"
            ]
        ]
    },
    {
        "id": "a95b93bd4c9a96d9",
        "type": "ui_dropdown",
        "z": "14a6af89eabdc1b0",
        "name": "Panel Selector",
        "label": "Panel",
        "tooltip": "Filter by panel",
        "place": "Select panel",
        "group": "383ee8460fc736dd",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "panel_id",
        "topicType": "str",
        "className": "",
        "x": 820,
        "y": 260,
        "wires": [
            [
                "8385377291871808"
            ]
        ]
    },
    {
        "id": "8385377291871808",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Build pad options (24)",
        "func": "const selectedPanel = msg.payload || flow.get('selected_panel_id') || 'panel_1';\nflow.set('selected_panel_id', selectedPanel);\nconst options = [];\nfor (let i = 1; i <= 24; i++) {\n  const value = `pad_${String(i).padStart(2, '0')}`;\n  options.push({ [`Pad ${String(i).padStart(2, '0')}`]: value });\n}\nlet selectedPad = flow.get('selected_pad_id') || 'pad_01';\nif (!options.some(o => Object.values(o)[0] === selectedPad)) selectedPad = 'pad_01';\nflow.set('selected_pad_id', selectedPad);\nconst toPadDropdown = { options, payload: selectedPad, topic: 'pad_id' };\nconst queryTrigger = { payload: selectedPad, topic: 'pad_id' };\nreturn [toPadDropdown, queryTrigger];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 260,
        "wires": [
            [
                "4ae940bec4e29b56"
            ],
            [
                "d1985987beca0b6b"
            ]
        ]
    },
    {
        "id": "4ae940bec4e29b56",
        "type": "ui_dropdown",
        "z": "14a6af89eabdc1b0",
        "name": "Pad Selector",
        "label": "Pad",
        "tooltip": "Filter by pad within panel",
        "place": "Select pad",
        "group": "383ee8460fc736dd",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "pad_id",
        "topicType": "str",
        "className": "",
        "x": 1330,
        "y": 260,
        "wires": [
            [
                "d1985987beca0b6b"
            ]
        ]
    },
    {
        "id": "7880f6ead3ee1070",
        "type": "inject",
        "z": "14a6af89eabdc1b0",
        "name": "Poll selected pad (15s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 780,
        "wires": [
            [
                "d1985987beca0b6b"
            ]
        ]
    },
    {
        "id": "d1985987beca0b6b",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Query selected pad from DB",
        "func": "// Store selected values\nif (msg.topic === 'panel_id') flow.set('selected_panel_id', msg.payload);\nif (msg.topic === 'pad_id') flow.set('selected_pad_id', msg.payload);\nif (msg.topic === 'mode') flow.set('selected_mode', msg.payload);\n\nconst panelId = flow.get('selected_panel_id') || msg.payload || 'panel_1';\nconst padId = flow.get('selected_pad_id') || 'pad_01';\n\nconst supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) {\n  node.warn('SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY not configured');\n  return null;\n}\n\nmsg.meta = { panel_id: panelId, pad_id: padId, source: 'db_filter' };\nmsg.url = `${supabaseUrl}/rest/v1/inspections?select=*&panel_id=eq.${encodeURIComponent(panelId)}&pad_id=eq.${encodeURIComponent(padId)}&order=captured_at.desc&limit=1`;\nmsg.method = 'GET';\nmsg.headers = { apikey: serviceRoleKey, Authorization: `Bearer ${serviceRoleKey}` };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 780,
        "wires": [
            [
                "d6722391101e1ecc"
            ]
        ]
    },
    {
        "id": "d6722391101e1ecc",
        "type": "http request",
        "z": "14a6af89eabdc1b0",
        "name": "Supabase selected inspection",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 850,
        "y": 780,
        "wires": [
            [
                "25cecb407abb9130"
            ]
        ]
    },
    {
        "id": "25cecb407abb9130",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Map selected inspection to UI",
        "func": "const row = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\nconst selectedPanel = (msg.meta && msg.meta.panel_id) || flow.get('selected_panel_id') || 'panel_1';\nconst selectedPad = (msg.meta && msg.meta.pad_id) || flow.get('selected_pad_id') || 'pad_01';\nif (!row) {\n  msg.payload = {\n    panel_id: selectedPanel,\n    pad_id: selectedPad,\n    status: 'NO DATA',\n    severity_score: 0,\n    robot_id: '-',\n    model_version: '-',\n    image_path: null,\n    captured_at: null,\n    record_panel_id: null,\n    record_pad_id: null\n  };\n  msg.meta = { panel_id: selectedPanel, pad_id: selectedPad, no_data: true };\n  return msg;\n}\nmsg.payload = {\n  panel_id: selectedPanel,\n  pad_id: selectedPad,\n  status: row.status || '—',\n  severity_score: row.severity_score,\n  robot_id: row.robot_id || '—',\n  model_version: row.model_version || '—',\n  image_path: row.image_path || null,\n  captured_at: row.captured_at || null,\n  record_panel_id: row.panel_id || null,\n  record_pad_id: row.pad_id || null\n};\nmsg.meta = { panel_id: selectedPanel, pad_id: selectedPad, record_panel_id: row.panel_id || null, record_pad_id: row.pad_id || null };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 780,
        "wires": [
            [
                "264891abb3bb3527"
            ]
        ]
    },
    {
        "id": "88a1cb123d24924c",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Prepare selected alert RPC",
        "func": "const supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) return null;\nconst panelId = (msg.meta && msg.meta.panel_id) || flow.get('selected_panel_id') || 'panel_1';\nconst padId = (msg.meta && msg.meta.pad_id) || flow.get('selected_pad_id') || 'pad_01';\nmsg.url = `${supabaseUrl}/rest/v1/rpc/evaluate_pad_alert`;\nmsg.method = 'POST';\nmsg.headers = {\n  apikey: serviceRoleKey,\n  Authorization: `Bearer ${serviceRoleKey}`,\n  'Content-Type': 'application/json'\n};\nmsg.payload = { p_panel_id: panelId, p_pad_id: padId };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 800,
        "wires": [
            [
                "79c98e9c0199bde0"
            ]
        ]
    },
    {
        "id": "79c98e9c0199bde0",
        "type": "http request",
        "z": "14a6af89eabdc1b0",
        "name": "Supabase selected alert",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1890,
        "y": 800,
        "wires": [
            [
                "9f864b8139fe61cf"
            ]
        ]
    },
    {
        "id": "cb442af731bc52fb",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Route MQTT by mode",
        "func": "const mode = flow.get('selected_mode') || 'live';\nconst ingestMsg = RED.util.cloneMessage(msg);\nif (mode === 'live') {\n  return [msg, ingestMsg];\n}\nreturn [null, ingestMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 460,
        "wires": [
            [
                "65e24a04a1b077a7",
                "b4ad7adff2d1fe5c",
                "878b47c1c4d81f52"
            ],
            [
                "72939bd8be0b44b7"
            ]
        ]
    },
    {
        "id": "6ed2e05e5e335bce",
        "type": "ui_switch",
        "z": "14a6af89eabdc1b0",
        "name": "Mode Selector",
        "label": "Mode",
        "tooltip": "Live MQTT when off, DB Filter when on",
        "group": "383ee8460fc736dd",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": true,
        "decouple": false,
        "topic": "mode",
        "topicType": "str",
        "style": "",
        "onvalue": "db",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "#8d1f2a",
        "offvalue": "live",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "#24406b",
        "className": "",
        "x": 880,
        "y": 320,
        "wires": [
            [
                "d1985987beca0b6b"
            ]
        ]
    },
    {
        "id": "264891abb3bb3527",
        "type": "function",
        "z": "14a6af89eabdc1b0",
        "name": "Route DB results to displays",
        "func": "// Pass DB query results directly to displays\nif (!msg.payload) return null;\nreturn [msg, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 740,
        "wires": [
            [
                "878b47c1c4d81f52",
                "65e24a04a1b077a7"
            ],
            [
                "88a1cb123d24924c"
            ]
        ]
    },
    {
        "id": "broker_mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "383ee8460fc736dd",
        "type": "ui_group",
        "z": "14a6af89eabdc1b0",
        "name": "Group",
        "tab": "caddf03d5a8c813b",
        "order": null,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "caddf03d5a8c813b",
        "type": "ui_tab",
        "z": "14a6af89eabdc1b0",
        "name": "complete_inferenceonnx",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]