nodered/full_cder_supabase_dashboard_flow.json
[
    {
        "id": "b9c24d8bf2d94ba1",
        "type": "tab",
        "label": "complete_inferenceonnx",
        "disabled": false,
        "info": "Realtime dashboard + Supabase persistence + alert routing"
    },
    {
        "id": "080bb9dda68ddc87",
        "type": "mqtt in",
        "z": "b9c24d8bf2d94ba1",
        "name": "EL MQTT input",
        "topic": "pv/inspection/severity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "c2bc9a1b40337323"
            ]
        ]
    },
    {
        "id": "c2bc9a1b40337323",
        "type": "json",
        "z": "b9c24d8bf2d94ba1",
        "name": "Parse payload",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "0d8b3e54efb3448b"
            ]
        ]
    },
    {
        "id": "b8f929387081ee9f",
        "type": "ui_template",
        "z": "b9c24d8bf2d94ba1",
        "group": "dbe4f94afd3a8245",
        "name": "Dashboard banner + theme",
        "order": 1,
        "width": "24",
        "height": "4",
        "format": "<style>\n.nr-dashboard-theme { background: linear-gradient(180deg, #eef3f8 0%, #dde7f1 100%); }\n.nr-dashboard-theme md-content { background: transparent; max-width: none !important; }\n.nr-dashboard-theme md-card { border-radius: 18px; box-shadow: 0 12px 34px rgba(15, 23, 42, 0.10); border: 1px solid rgba(148, 163, 184, 0.18); overflow: hidden; }\n.nr-dashboard-theme .nr-dashboard-cardtitle { font-weight: 700; letter-spacing: 0.04em; text-transform: uppercase; color: #334155; }\n.nr-dashboard-theme .nr-dashboard-cardcontainer { padding-top: 8px; padding-bottom: 8px; }\n.cder-hero { padding: 22px 24px; border-radius: 22px; background: linear-gradient(135deg, #0f1f33 0%, #19304f 50%, #325d96 100%); color: #fff; min-height: 140px; display: flex; flex-direction: column; justify-content: center; }\n.cder-hero__eyebrow { font-size: 12px; font-weight: 700; letter-spacing: 0.16em; text-transform: uppercase; opacity: 0.78; }\n.cder-hero h1 { margin: 8px 0 0; font-size: 28px; line-height: 1.05; }\n.cder-hero p { margin: 10px 0 0; max-width: 860px; font-size: 14px; line-height: 1.55; opacity: 0.9; }\n.cder-hero__chips { display: flex; flex-wrap: wrap; gap: 10px; margin-top: 16px; }\n.cder-hero__chips span { display: inline-flex; align-items: center; padding: 7px 11px; border-radius: 999px; background: rgba(255, 255, 255, 0.14); border: 1px solid rgba(255, 255, 255, 0.16); font-size: 12px; font-weight: 600; letter-spacing: 0.02em; }\n.cder-summary-grid { display: grid; grid-template-columns: repeat(6, minmax(0, 1fr)); gap: 12px; }\n.cder-kpi-card { border-radius: 18px; padding: 16px 16px 14px; min-height: 100px; background: linear-gradient(180deg, #ffffff 0%, #f8fbff 100%); border: 1px solid rgba(148, 163, 184, 0.2); box-shadow: inset 0 1px 0 rgba(255,255,255,0.8); }\n.cder-kpi-card--accent { background: linear-gradient(135deg, #10253f 0%, #1b3353 100%); color: #fff; }\n.cder-kpi-card--soft { background: linear-gradient(135deg, #eff6ff 0%, #e8f1fb 100%); }\n.cder-kpi-card--success { background: linear-gradient(135deg, #effaf2 0%, #e3f4ea 100%); }\n.cder-kpi-card--warning { background: linear-gradient(135deg, #fff8e7 0%, #fdf0ce 100%); }\n.cder-kpi-label { font-size: 11px; font-weight: 700; letter-spacing: 0.14em; text-transform: uppercase; opacity: 0.72; }\n.cder-kpi-value { margin-top: 8px; font-size: 22px; font-weight: 800; line-height: 1.1; word-break: break-word; }\n.cder-kpi-hint { margin-top: 6px; font-size: 12px; line-height: 1.35; opacity: 0.78; }\n.cder-alert-card { border-radius: 18px; padding: 18px 18px 16px; min-height: 92px; background: linear-gradient(135deg, #fff5f5 0%, #ffe7e7 100%); border: 1px solid rgba(220, 38, 38, 0.18); }\n.cder-alert-card.is-open { background: linear-gradient(135deg, #4c1118 0%, #8d1f2a 100%); color: #fff; }\n.cder-alert-card__label { font-size: 11px; font-weight: 700; letter-spacing: 0.14em; text-transform: uppercase; opacity: 0.8; }\n.cder-alert-card__value { margin-top: 8px; font-size: 18px; font-weight: 700; line-height: 1.35; }\n.cder-open-count { border-radius: 18px; padding: 18px; min-height: 92px; background: linear-gradient(135deg, #eff6ff 0%, #dfeeff 100%); border: 1px solid rgba(37, 99, 235, 0.16); }\n.cder-open-count__label { font-size: 11px; font-weight: 700; letter-spacing: 0.14em; text-transform: uppercase; opacity: 0.72; }\n.cder-open-count__value { margin-top: 8px; font-size: 30px; font-weight: 800; line-height: 1; }\n.cder-open-count__hint { margin-top: 6px; font-size: 12px; line-height: 1.35; opacity: 0.76; }\n</style>\n<div class='cder-hero'>\n  <div class='cder-hero__eyebrow'>Realtime inspection dashboard</div>\n  <h1>CDER Pi Camera Service</h1>\n  <p>MQTT intake, Supabase persistence, and alert routing in one full-width workspace. The top cards summarize the current inspection, while the chart and alert panels keep the operational state visible at a glance.</p>\n  <div class='cder-hero__chips'>\n    <span>MQTT ingest</span>\n    <span>Severity trend</span>\n    <span>Supabase write</span>\n    <span>Open alerts</span>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4432e4914cc14458",
        "type": "change",
        "z": "b9c24d8bf2d94ba1",
        "name": "Extract severity_score",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.severity_score",
                "tot": "msg"
            }
        ],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "98c8837383d53693",
                "365428684d69ea57"
            ]
        ]
    },
    {
        "id": "98c8837383d53693",
        "type": "ui_gauge",
        "z": "b9c24d8bf2d94ba1",
        "name": "Severity Gauge",
        "group": "dbe4f94afd3a8245",
        "order": 3,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "Defect Severity",
        "label": "score",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.35",
        "seg2": "0.65",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "365428684d69ea57",
        "type": "ui_chart",
        "z": "b9c24d8bf2d94ba1",
        "name": "Severity Trend",
        "group": "dbe4f94afd3a8245",
        "order": 4,
        "width": 13,
        "height": 6,
        "label": "Severity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "MM-dd HH:mm",
        "interpolate": "linear",
        "nodata": "No data yet",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a1ac2c131da8eb88",
        "type": "ui_template",
        "z": "b9c24d8bf2d94ba1",
        "group": "dbe4f94afd3a8245",
        "name": "Inspection summary cards",
        "order": 2,
        "width": "24",
        "height": "4",
        "format": "<div class='cder-summary-grid'>\n  <div class='cder-kpi-card cder-kpi-card--accent'>\n    <div class='cder-kpi-label'>Panel</div>\n    <div class='cder-kpi-value'>{{msg.payload.panel_id || '\u2014'}}</div>\n    <div class='cder-kpi-hint'>Current inspection panel</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--soft'>\n    <div class='cder-kpi-label'>Pad</div>\n    <div class='cder-kpi-value'>{{msg.payload.pad_id || '\u2014'}}</div>\n    <div class='cder-kpi-hint'>Target pad identifier</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--success'>\n    <div class='cder-kpi-label'>Model Status</div>\n    <div class='cder-kpi-value'>{{msg.payload.status || '\u2014'}}</div>\n    <div class='cder-kpi-hint'>Classification result</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--soft'>\n    <div class='cder-kpi-label'>Robot</div>\n    <div class='cder-kpi-value'>{{msg.payload.robot_id || '\u2014'}}</div>\n    <div class='cder-kpi-hint'>Source robot identity</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--warning'>\n    <div class='cder-kpi-label'>Model Version</div>\n    <div class='cder-kpi-value'>{{msg.payload.model_version || '\u2014'}}</div>\n    <div class='cder-kpi-hint'>Current deployed model</div>\n  </div>\n  <div class='cder-kpi-card cder-kpi-card--accent'>\n    <div class='cder-kpi-label'>Severity</div>\n    <div class='cder-kpi-value'>{{msg.payload.severity_score | number: 2}}</div>\n    <div class='cder-kpi-hint'>Higher means more severe</div>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 530,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0690bc3a7b379f74",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Validate + prepare Supabase insert",
        "func": "const p = msg.payload || {};\n\nconst score = Number(p.severity_score);\nif (!Number.isFinite(score)) {\n    node.warn('Dropped message: severity_score is missing/invalid');\n    return null;\n}\nif (!p.pad_id) {\n    node.warn('Dropped message: pad_id is required');\n    return null;\n}\n\nconst inspection = {\n    captured_at: new Date().toISOString(),\n    robot_id: p.robot_id || 'robot_01',\n    panel_id: p.panel_id || 'panel_A',\n    pad_id: p.pad_id,\n    severity_score: score,\n    status: p.status || (score >= 0.70 ? 'CRITICAL' : 'OK'),\n    image_path: p.image_path || null,\n    model_version: p.model_version || 'onnx_v1',\n    raw_payload: p\n};\n\nconst supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) {\n    node.error('SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY not configured', msg);\n    return null;\n}\n\nmsg.meta = { panel_id: inspection.panel_id, pad_id: inspection.pad_id };\nmsg.url = supabaseUrl + '/rest/v1/inspections';\nmsg.method = 'POST';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json',\n    Prefer: 'return=representation'\n};\nmsg.payload = [inspection];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "2cfbb61f6ebf50b5"
            ]
        ]
    },
    {
        "id": "2cfbb61f6ebf50b5",
        "type": "http request",
        "z": "b9c24d8bf2d94ba1",
        "name": "Supabase insert inspection",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 940,
        "y": 380,
        "wires": [
            [
                "59c4857afb29f073"
            ]
        ]
    },
    {
        "id": "59c4857afb29f073",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Prepare evaluate_pad_alert RPC",
        "func": "const supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\n\nmsg.url = supabaseUrl + '/rest/v1/rpc/evaluate_pad_alert';\nmsg.method = 'POST';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey,\n    'Content-Type': 'application/json'\n};\nmsg.payload = {\n    p_panel_id: msg.meta.panel_id,\n    p_pad_id: msg.meta.pad_id\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "054ffdc739b8f11a"
            ]
        ]
    },
    {
        "id": "054ffdc739b8f11a",
        "type": "http request",
        "z": "b9c24d8bf2d94ba1",
        "name": "Supabase evaluate alert",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1450,
        "y": 380,
        "wires": [
            [
                "6a37b4806fb5eda1"
            ]
        ]
    },
    {
        "id": "6a37b4806fb5eda1",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Parse alert result",
        "func": "const r = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\nif (!r || !r.state) {\n    node.warn('evaluate_pad_alert returned empty result');\n    return null;\n}\nmsg.alert = r;\nmsg.payload = r.state + ' - ' + r.reason + ' (score=' + r.current_score + ')';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 300,
        "wires": [
            [
                "c4c7c0be81147caa",
                "e551e0435e681428",
                "0e33a8bc9112af6a"
            ]
        ]
    },
    {
        "id": "c4c7c0be81147caa",
        "type": "ui_template",
        "z": "b9c24d8bf2d94ba1",
        "group": "dbe4f94afd3a8245",
        "name": "DB Alert",
        "order": 9,
        "width": 6,
        "height": 2,
        "format": "<div class='cder-alert-card' ng-class=\"{'is-open': msg.alert && msg.alert.state === 'OPEN'}\">\n  <div class='cder-alert-card__label'>DB Alert</div>\n  <div class='cder-alert-card__value'>{{msg.payload}}</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e551e0435e681428",
        "type": "switch",
        "z": "b9c24d8bf2d94ba1",
        "name": "OPEN?",
        "property": "alert.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OPEN",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1840,
        "y": 320,
        "wires": [
            [
                "c0e2a1a7b5fa1f6e"
            ],
            [
                "70dd2be46ae95c0e"
            ]
        ]
    },
    {
        "id": "c0e2a1a7b5fa1f6e",
        "type": "debug",
        "z": "b9c24d8bf2d94ba1",
        "name": "OPEN alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "alert",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 300,
        "wires": []
    },
    {
        "id": "70dd2be46ae95c0e",
        "type": "debug",
        "z": "b9c24d8bf2d94ba1",
        "name": "Non-OPEN alert",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "alert",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 340,
        "wires": []
    },
    {
        "id": "0e33a8bc9112af6a",
        "type": "debug",
        "z": "b9c24d8bf2d94ba1",
        "name": "Alert eval raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 380,
        "wires": []
    },
    {
        "id": "468a339af0c7f919",
        "type": "inject",
        "z": "b9c24d8bf2d94ba1",
        "name": "Poll open alerts (30s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "14b64ea675ea3324"
            ]
        ]
    },
    {
        "id": "14b64ea675ea3324",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Prepare open alert count query",
        "func": "const supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) {\n    return null;\n}\nmsg.url = supabaseUrl + '/rest/v1/vw_open_alerts?select=id';\nmsg.method = 'GET';\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: 'Bearer ' + serviceRoleKey\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 580,
        "wires": [
            [
                "3984888b1ecbf439"
            ]
        ]
    },
    {
        "id": "3984888b1ecbf439",
        "type": "http request",
        "z": "b9c24d8bf2d94ba1",
        "name": "Supabase get open alerts",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 730,
        "y": 580,
        "wires": [
            [
                "3535d05a1348c28c"
            ]
        ]
    },
    {
        "id": "3535d05a1348c28c",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Format open alert count",
        "func": "let count = 0;\nif (Array.isArray(msg.payload)) {\n    count = msg.payload.length;\n} else if (msg.payload && Array.isArray(msg.payload.value)) {\n    count = msg.payload.value.length;\n}\nmsg.payload = String(count);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 660,
        "wires": [
            [
                "c73b5ccad84dd5b6"
            ]
        ]
    },
    {
        "id": "c73b5ccad84dd5b6",
        "type": "ui_template",
        "z": "b9c24d8bf2d94ba1",
        "group": "dbe4f94afd3a8245",
        "name": "",
        "order": 10,
        "width": 6,
        "height": 2,
        "format": "<div class='cder-open-count'>\n  <div class='cder-open-count__label'>Open Alerts (DB)</div>\n  <div class='cder-open-count__value'>{{msg.payload || '0'}}</div>\n  <div class='cder-open-count__hint'>Polled every 30 seconds</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1140,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e3600d27c7812689",
        "type": "catch",
        "z": "b9c24d8bf2d94ba1",
        "name": "Catch flow errors",
        "scope": [
            "0690bc3a7b379f74",
            "2cfbb61f6ebf50b5",
            "59c4857afb29f073",
            "054ffdc739b8f11a",
            "6a37b4806fb5eda1",
            "3984888b1ecbf439"
        ],
        "uncaught": false,
        "x": 170,
        "y": 700,
        "wires": [
            [
                "ad2208986658623b"
            ]
        ]
    },
    {
        "id": "ad2208986658623b",
        "type": "debug",
        "z": "b9c24d8bf2d94ba1",
        "name": "Flow errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "error.message",
        "statusType": "msg",
        "x": 390,
        "y": 700,
        "wires": []
    },
    {
        "id": "broker_mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dbe4f94afd3a8245",
        "type": "ui_group",
        "z": "b9c24d8bf2d94ba1",
        "name": "Group",
        "tab": "45c21fa60fe4e205",
        "order": null,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45c21fa60fe4e205",
        "type": "ui_tab",
        "z": "b9c24d8bf2d94ba1",
        "name": "complete_inferenceonnx",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d3fca4b1ae047a3",
        "type": "inject",
        "z": "b9c24d8bf2d94ba1",
        "name": "Init panel/pad selectors",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "b1f7c8d94a0e4d1a"
            ]
        ]
    },
    {
        "id": "b1f7c8d94a0e4d1a",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Build panel options (9)",
        "func": "const panelOptions = [];\nfor (let i = 1; i <= 9; i++) {\n  panelOptions.push({ label: `Panel ${i}`, value: `panel_${i}` });\n}\nconst selectedPanel = flow.get('selected_panel_id') || 'panel_1';\nflow.set('selected_panel_id', selectedPanel);\nconst modeOptions = [\n  { label: 'Live MQTT', value: 'live' },\n  { label: 'DB Filter', value: 'db' }\n];\nconst selectedMode = flow.get('selected_mode') || 'live';\nflow.set('selected_mode', selectedMode);\nconst toPanelDropdown = { options: panelOptions, payload: selectedPanel, topic: 'panel_id' };\nconst toPadBuilder = { payload: selectedPanel, topic: 'panel_id' };\nconst toModeDropdown = { options: modeOptions, payload: selectedMode, topic: 'mode' };\nreturn [toPanelDropdown, toPadBuilder, toModeDropdown];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 40,
        "wires": [
            [
                "9f2b7d8e34f14b31"
            ],
            [
                "dd78e4fcb4f34f8d"
            ],
            [
                "f86d91be9a2f4f12"
            ]
        ]
    },
    {
        "id": "9f2b7d8e34f14b31",
        "type": "ui_dropdown",
        "z": "b9c24d8bf2d94ba1",
        "name": "Panel Selector",
        "label": "Panel",
        "tooltip": "Filter by panel",
        "place": "Select panel",
        "group": "dbe4f94afd3a8245",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "panel_id",
        "topicType": "str",
        "className": "",
        "x": 700,
        "y": 40,
        "wires": [
            [
                "dd78e4fcb4f34f8d"
            ]
        ]
    },
    {
        "id": "dd78e4fcb4f34f8d",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Build pad options (24)",
        "func": "const selectedPanel = msg.payload || flow.get('selected_panel_id') || 'panel_1';\nflow.set('selected_panel_id', selectedPanel);\nconst options = [];\nfor (let i = 1; i <= 24; i++) {\n  const value = `pad_${String(i).padStart(2, '0')}`;\n  options.push({ label: `Pad ${String(i).padStart(2, '0')}`, value });\n}\nlet selectedPad = flow.get('selected_pad_id') || 'pad_01';\nif (!options.find(o => o.value === selectedPad)) selectedPad = 'pad_01';\nflow.set('selected_pad_id', selectedPad);\nconst toPadDropdown = { options, payload: selectedPad, topic: 'pad_id' };\nconst toQuery = { payload: selectedPad, topic: 'pad_id' };\nreturn [toPadDropdown, toQuery];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 40,
        "wires": [
            [
                "3a0d2e6178c44f2d"
            ],
            [
                "c6ba3b672dc249e1"
            ]
        ]
    },
    {
        "id": "3a0d2e6178c44f2d",
        "type": "ui_dropdown",
        "z": "b9c24d8bf2d94ba1",
        "name": "Pad Selector",
        "label": "Pad",
        "tooltip": "Filter by pad within panel",
        "place": "Select pad",
        "group": "dbe4f94afd3a8245",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "pad_id",
        "topicType": "str",
        "className": "",
        "x": 1210,
        "y": 40,
        "wires": [
            [
                "c6ba3b672dc249e1"
            ]
        ]
    },
    {
        "id": "f3cdd8d1846f4e51",
        "type": "inject",
        "z": "b9c24d8bf2d94ba1",
        "name": "Poll selected pad (15s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "c6ba3b672dc249e1"
            ]
        ]
    },
    {
        "id": "c6ba3b672dc249e1",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Prepare selected pad query",
        "func": "if (msg.topic === 'panel_id') flow.set('selected_panel_id', msg.payload);\nif (msg.topic === 'pad_id') flow.set('selected_pad_id', msg.payload);\nif (msg.topic === 'mode') {\n  flow.set('selected_mode', msg.payload);\n  if (msg.payload !== 'db') return null;\n}\nconst selectedMode = flow.get('selected_mode') || 'live';\nif (selectedMode !== 'db') return null;\nconst panelId = flow.get('selected_panel_id') || 'panel_1';\nconst padId = flow.get('selected_pad_id') || 'pad_01';\nconst supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) {\n  node.warn('SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY not configured');\n  return null;\n}\nmsg.meta = { panel_id: panelId, pad_id: padId };\nmsg.url = `${supabaseUrl}/rest/v1/inspections?select=*&panel_id=eq.${encodeURIComponent(panelId)}&pad_id=eq.${encodeURIComponent(padId)}&order=captured_at.desc&limit=1`;\nmsg.method = 'GET';\nmsg.headers = { apikey: serviceRoleKey, Authorization: `Bearer ${serviceRoleKey}` };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 560,
        "wires": [
            [
                "8e4d7ab1a6f24fd0"
            ]
        ]
    },
    {
        "id": "8e4d7ab1a6f24fd0",
        "type": "http request",
        "z": "b9c24d8bf2d94ba1",
        "name": "Supabase selected inspection",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 740,
        "y": 560,
        "wires": [
            [
                "5138f07b0ed54456"
            ]
        ]
    },
    {
        "id": "5138f07b0ed54456",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Map selected inspection to UI",
        "func": "const row = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\nif (!row) {\n  node.warn('No inspection rows for selected panel/pad');\n  return null;\n}\nmsg.payload = row;\nmsg.meta = { panel_id: row.panel_id, pad_id: row.pad_id };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 560,
        "wires": [
            [
                "a74f6237d8e545f2"
            ]
        ]
    },
    {
        "id": "e1f9c1f6d9b04f2d",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Prepare selected alert RPC",
        "func": "const supabaseUrl = env.get('SUPABASE_URL');\nconst serviceRoleKey = env.get('SUPABASE_SERVICE_ROLE_KEY');\nif (!supabaseUrl || !serviceRoleKey) return null;\nconst panelId = (msg.meta && msg.meta.panel_id) || flow.get('selected_panel_id') || 'panel_1';\nconst padId = (msg.meta && msg.meta.pad_id) || flow.get('selected_pad_id') || 'pad_01';\nmsg.url = `${supabaseUrl}/rest/v1/rpc/evaluate_pad_alert`;\nmsg.method = 'POST';\nmsg.headers = {\n  apikey: serviceRoleKey,\n  Authorization: `Bearer ${serviceRoleKey}`,\n  'Content-Type': 'application/json'\n};\nmsg.payload = { p_panel_id: panelId, p_pad_id: padId };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 620,
        "wires": [
            [
                "a4f1cd2652e74c2a"
            ]
        ]
    },
    {
        "id": "a4f1cd2652e74c2a",
        "type": "http request",
        "z": "b9c24d8bf2d94ba1",
        "name": "Supabase selected alert",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1500,
        "y": 620,
        "wires": [
            [
                "6a37b4806fb5eda1"
            ]
        ]
    },
    {
        "id": "0d8b3e54efb3448b",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Route MQTT by mode",
        "func": "const mode = flow.get('selected_mode') || 'live';\nconst ingestMsg = RED.util.cloneMessage(msg);\nif (mode === 'live') {\n  return [msg, ingestMsg];\n}\nreturn [null, ingestMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "4432e4914cc14458",
                "b8f929387081ee9f",
                "a1ac2c131da8eb88"
            ],
            [
                "0690bc3a7b379f74"
            ]
        ]
    },
    {
        "id": "f86d91be9a2f4f12",
        "type": "ui_dropdown",
        "z": "b9c24d8bf2d94ba1",
        "name": "Mode Selector",
        "label": "Mode",
        "tooltip": "Switch between live MQTT and filtered DB display",
        "place": "Select mode",
        "group": "dbe4f94afd3a8245",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "mode",
        "topicType": "str",
        "className": "",
        "x": 1490,
        "y": 40,
        "wires": [
            [
                "c6ba3b672dc249e1",
                "a74f6237d8e545f2",
                "0d8b3e54efb3448b"
            ]
        ]
    },
    {
        "id": "a74f6237d8e545f2",
        "type": "function",
        "z": "b9c24d8bf2d94ba1",
        "name": "Route DB by mode",
        "func": "if (msg.topic === 'mode') {\n  flow.set('selected_mode', msg.payload);\n  return null;\n}\nconst mode = flow.get('selected_mode') || 'live';\nif (mode !== 'db') return null;\nreturn [msg, RED.util.cloneMessage(msg)];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 560,
        "wires": [
            [
                "a1ac2c131da8eb88",
                "4432e4914cc14458"
            ],
            [
                "e1f9c1f6d9b04f2d"
            ]
        ]
    }
]