nodered/supabase_ingest_flow.json
[
  {
    "id": "tab_solar_el",
    "type": "tab",
    "label": "Solar EL Supabase Ingest",
    "disabled": false,
    "info": "MQTT -> Supabase inspections -> evaluate alerts"
  },
  {
    "id": "mqtt_in_1",
    "type": "mqtt in",
    "z": "tab_solar_el",
    "name": "EL severity MQTT",
    "topic": "pv/inspection/severity",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt_broker_1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 120,
    "wires": [["json_parse_1"]]
  },
  {
    "id": "json_parse_1",
    "type": "json",
    "z": "tab_solar_el",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 360,
    "y": 120,
    "wires": [["fn_validate_enrich_1"]]
  },
  {
    "id": "fn_validate_enrich_1",
    "type": "function",
    "z": "tab_solar_el",
    "name": "Validate and map inspection",
    "func": "const p = msg.payload || {};\n\nif (typeof p.severity_score !== \"number\") {\n    node.warn(\"Dropped message: missing severity_score\");\n    return null;\n}\n\nif (!p.pad_id) {\n    node.warn(\"Dropped message: missing pad_id\");\n    return null;\n}\n\nconst panelId = p.panel_id || \"panel_A\";\nconst robotId = p.robot_id || \"robot_01\";\nconst modelVersion = p.model_version || \"onnx_v1\";\n\nconst inspection = {\n    captured_at: new Date().toISOString(),\n    robot_id: robotId,\n    panel_id: panelId,\n    pad_id: p.pad_id,\n    severity_score: Number(p.severity_score),\n    status: p.status || \"OK\",\n    image_path: p.image_path || null,\n    model_version: modelVersion,\n    raw_payload: p\n};\n\nmsg.inspection = inspection;\nmsg.panel_id = panelId;\nmsg.pad_id = p.pad_id;\nmsg.payload = inspection;\n\nconst supabaseUrl = env.get(\"SUPABASE_URL\");\nconst serviceRoleKey = env.get(\"SUPABASE_SERVICE_ROLE_KEY\");\n\nif (!supabaseUrl || !serviceRoleKey) {\n    node.error(\"SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY not configured\", msg);\n    return null;\n}\n\nmsg.url = `${supabaseUrl}/rest/v1/inspections`;\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: `Bearer ${serviceRoleKey}`,\n    \"Content-Type\": \"application/json\",\n    Prefer: \"return=representation\"\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 120,
    "wires": [["http_insert_inspection_1"]]
  },
  {
    "id": "http_insert_inspection_1",
    "type": "http request",
    "z": "tab_solar_el",
    "name": "Insert inspection",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 800,
    "y": 120,
    "wires": [["fn_prepare_rpc_1"]]
  },
  {
    "id": "fn_prepare_rpc_1",
    "type": "function",
    "z": "tab_solar_el",
    "name": "Prepare evaluate_pad_alert RPC",
    "func": "const supabaseUrl = env.get(\"SUPABASE_URL\");\nconst serviceRoleKey = env.get(\"SUPABASE_SERVICE_ROLE_KEY\");\n\nmsg.url = `${supabaseUrl}/rest/v1/rpc/evaluate_pad_alert`;\nmsg.headers = {\n    apikey: serviceRoleKey,\n    Authorization: `Bearer ${serviceRoleKey}`,\n    \"Content-Type\": \"application/json\"\n};\nmsg.payload = {\n    p_panel_id: msg.panel_id,\n    p_pad_id: msg.pad_id\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1030,
    "y": 120,
    "wires": [["http_eval_alert_1"]]
  },
  {
    "id": "http_eval_alert_1",
    "type": "http request",
    "z": "tab_solar_el",
    "name": "Evaluate alert",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 1240,
    "y": 120,
    "wires": [["fn_alert_router_1"]]
  },
  {
    "id": "fn_alert_router_1",
    "type": "function",
    "z": "tab_solar_el",
    "name": "Route OPEN alerts",
    "func": "const result = Array.isArray(msg.payload) ? msg.payload[0] : msg.payload;\n\nif (!result || !result.state) {\n    return [null, msg];\n}\n\nmsg.alert = result;\n\nif (result.state === \"OPEN\") {\n    return [msg, null];\n}\n\nreturn [null, msg];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1450,
    "y": 120,
    "wires": [["debug_open_alert_1"], ["debug_non_open_1"]]
  },
  {
    "id": "debug_open_alert_1",
    "type": "debug",
    "z": "tab_solar_el",
    "name": "OPEN alert",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "alert",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1640,
    "y": 90,
    "wires": []
  },
  {
    "id": "debug_non_open_1",
    "type": "debug",
    "z": "tab_solar_el",
    "name": "Non-open state",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "alert",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1650,
    "y": 150,
    "wires": []
  },
  {
    "id": "catch_http_1",
    "type": "catch",
    "z": "tab_solar_el",
    "name": "Flow errors",
    "scope": ["http_insert_inspection_1", "http_eval_alert_1", "fn_validate_enrich_1"],
    "uncaught": false,
    "x": 160,
    "y": 220,
    "wires": [["debug_errors_1"]]
  },
  {
    "id": "debug_errors_1",
    "type": "debug",
    "z": "tab_solar_el",
    "name": "Ingest errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "error.message",
    "statusType": "msg",
    "x": 370,
    "y": 220,
    "wires": []
  },
  {
    "id": "mqtt_broker_1",
    "type": "mqtt-broker",
    "name": "MQTT broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
